@model Vidly.ViewModels.RandomMovieViewModel
@{
	ViewBag.Title = "Random";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ 
	var className = Model.Customers.Count > 5 ? "popular" : null;
}

<h2 class="@className">@Model.Movie.Name</h2>

@if (Model.Customers.Count == 0)
{
	<text>No one has ordered this movie yet.</text>
}
else
{
	<ul>
		@foreach (var cust in Model.Customers)
		{
			<li>@cust.Name</li>
		}
	</ul>
}